.flex {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

body {
  box-sizing: border-box;
}

.game-info {
  padding-inline: 2em;
  margin: 0 auto 5rem;
  max-width: 60rem;
  text-align: center;
}

.hit {
  color: red;
}
.miss {
  color: black;
  background-color: grey;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
}

.board1,
.board2 {
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 2;
}

.overlay,
.grid {
  width: 420px;
  height: 420px;
}

.container {
  position: relative;
}

.board {
  outline: 1px solid black;
  padding: 1rem;
}

.grid {
  display: grid;
}

.block {
  border: 1px solid black;
}
