.flex {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

body {
  box-sizing: border-box;
}

.game-info {
  padding-inline: 2em;
  margin: 0 auto 5rem;
  max-width: 60rem;
  text-align: center;
}

.hit {
  color: red;
}
.miss {
  color: black;
  background-color: grey;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
}

.board1,
.board2 {
  position: relative;
  top: 0%;
  left: 0%;
  z-index: 2;
}

.overlay,
.grid {
  width: 420px;
  height: 420px;
}

.container {
  position: relative;
}

.board {
  outline: 1px solid black;
  padding: 1rem;
}

.grid {
  display: grid;
}

.block {
  outline: 1px solid black;
}

/* ship items */
.ship {
  background-color: lightblue;
  height: 42px;
  outline: 1px solid black;
}

.two {
  width: calc(42px * 2);
}
.three {
  width: calc(42px * 3);
}
.four {
  width: calc(42px * 4);
}

/* #target {
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
} */

#div1,
#div2 {
  float: left;
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

#drop_zone {
  border: 5px solid blue;
  width: 200px;
  height: 100px;
}
