.flex {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

body {
  box-sizing: border-box;
}

.container {
  outline: 1px solid black;
  padding: 1rem;
}

.grid {
  display: grid;
  width: 22.5rem;
  height: 22.5rem;
}

.block {
  border: 1px solid black;
}
